
.articulo {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .75rem;
}

.articulo-imagen-container{
    grid-column: 1/3;
    width: 300px;
    height: 300px;
    background-color: #F7F7F7;
    display: grid;
    place-content: center;
    
}

.articulo-imagen-container img{
    width: 200px;
}

.articulo-nombre{
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.articulo-botones{
    grid-column: span 2;
    display: flex;
    gap: 1rem;
}

.articulo-botones button{
    cursor: pointer;
    width: 150px;
    height: 32px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: .25rem;
    border: 1px solid black;
    background-color: white;
    justify-content: center;
    transition: .1s ease;
}

.articulo-botones button:hover{
    background-color: black;
    color: white;
}

.articulo-botones button:active{
    scale: 0.9;
}

.articulo-botones a{
    width: 100px;
    height: 32px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: .25rem;
    transition: .1s ease;
}

.articulo-botones a:hover{
    scale: 1.05;
}

.articulo-botones a:active{
    scale: 1;
}
