

.filtro-lista{
    position: relative;
    cursor: pointer;
    gap: .2rem;
    background-color: white;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 .75rem;
    border: 1px solid #EAECEC;
}

.filtro-lista:hover{
    background: #EAECEC;
}

.filtro-lista:active{
    background: #cbcbcb;
}


.listaDropped{
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #EAECEC;
    background-color: white;
}

.listaDropped button{
    text-align: start;
    width:150px;
    padding: .75rem 1rem;
    font-size: 13.3px;
    border: none;
    background-color: white;
}
.listaDropped button:hover{
    cursor: pointer;
    background-color: #F7F7F7;
}

.listaDropped button:active{
    background-color: #cbcbcb;
}



.lista-container {
    position: relative;
}